.root {
  overflow: visible;
  height: auto;
  min-width: 600px;
  min-height: 600px;
}

.grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  width: 100px;
  gap: 100px;
}

.dropSlot {
  color: #ff0000;
  min-width: 20px;
  min-height: 20px;
}
.cardTray {
}
.cardTrayContainer {
}
